.footer {
  max-width: 1201px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  margin-top: 224px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;

  @media screen and (max-width: 759px) {
    flex-direction: column;
    padding: 49px 15px 67px;
    margin-top: 150px;
  }

  a {
    font-weight: normal;
    font-size: 21px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
    opacity: 0.75;

    @media screen and (max-width: 759px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
